Repository AnnaMaPe/trivia: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Install husky hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: none

Add github workflow
  .github/workflows/audit.yaml
  .prettierrc.json
  package-lock.json
  src/assets/base.css
Due: prettier --write

Reset styles
  src/assets/base.css
Due: prettier --write

Add style variables
  package-lock.json
  package.json
  src/assets/base.css
  src/assets/main.css
Due: prettier --write

Create GameForm component structure
  src/App.vue
  src/components/GameForm/GameForm.vue
  src/main.ts
Due: eslint, prettier --write

Modify label and iputs structure within GameForm component
  src/assets/base.css
  src/components/GameForm/GameForm.vue
Due: eslint, prettier --write

Test GameForm component
  package-lock.json
  package.json
  src/components/GameForm/GameForm.spec.tsx
  src/main.ts
  src/setupTests.ts
  tsconfig.json
  vitest.config.ts
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier --write: any of: *.{css,vue}
